# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Check out https://pre-commit.com/ for documentation
# ::tyranno:: rev: v$<< "dependency-groups" .dev .pypa_ver_spec_map(@) ."pre-commit" .pypa_ver_spec_min(@) >>
minimum_pre_commit_version: 4.4.0
repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=256
      - id: forbid-new-submodules # ban Git submodules
      - id: check-case-conflict # ban ABC and abc both existing
      - id: check-illegal-windows-names # ban filenames that are illegal on Windows
      - id: check-merge-conflict # ban merge conflict markers
        args:
          - --assume-in-merge # otherwise skipped in rebase
      - id: check-symlinks # ban *broken* symlinks
      - id: check-shebang-scripts-are-executable # ensures all shebangs are executable
      - id: end-of-file-fixer # auto-add final \n
      - id: fix-byte-order-marker # auto-remove BOMs
      - id: trailing-whitespace # auto-remove end-of-line whitespace

  - repo: local
    hooks:
      - id: check-filenames
        name: Enforce file and directory naming conventions.
        entry: >-
          Path components may only use 'A-Za-z0-9_.,+=-' and cannot start with '-' or end with '.'.
        language: fail
        files: '[^/\w.,+=-]|(^|/)-|\.($|/)'
        stages:
          - pre-commit
      - id: pathvalidate
        name: Verify that paths are valid cross-platform.
        entry: pathvalidate --max-len 255 validate --
        language: python
        additional_dependencies:
          - pathvalidate-cli
        stages:
          - pre-commit

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-compose-spec
      - id: check-metaschema
        files: \.schemas/.*\.(yaml|yml|json)$

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args:
          - --strict
          - --config-data
          - |
            rules:
              anchors:
                forbid-undeclared-aliases: true
                forbid-duplicated-anchors: true
                forbid-unused-anchors: true
              float-values:
                require-numeral-before-decimal: true
                forbid-scientific-notation: true
                forbid-nan: true
                forbid-inf: true
              key-duplicates:
                forbid-duplicated-merge-keys: true
              octal-values:
                forbid-implicit-octal: true
                forbid-explicit-octal: true

  # UV lock and sync
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-sync # first locks (without `--upgrade`)

  # Format and lint Python with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # ::tyranno:: rev: v$<< "dependency-groups" .dev .pypa_ver_spec_map(@) .ruff .pypa_ver_spec_max(@) >>
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args:
          - --fix-only
          - --show-fixes
      - id: ruff-format

  # Format Justfile
  - repo: local
    hooks:
      - id: format-justfile
        name: Format the justfile using 'just --fmt'.
        entry: just --fmt --unstable
        pass_filenames: false
        language: system
        files: justfile
        stages:
          - pre-commit

  # Format and auto-fix various files with Biome.
  # Note that Biome's support for Markdown is pending.
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.6
    hooks:
      - id: biome-check

  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.14.2
    hooks:
      - id: markdown-link-check
        args:
          - -q
        stages:
          - manual
