# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# :tyranno: site_name: "${project.name}"
site_name: "tyranno-sandbox"

# :tyranno: site_name: "${.copyright}"
copyright: Copyright 2024, Contributors to Tyrannosaurus
# :tyranno: site_description: "${project.description}"
site_description: "Sandbox for Tyrannosaurus"

# Exclude from nav
not_in_nav: _*.md

# Theme
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.action.edit
    - content.code.copy
    - content.code.annotate
    - navigation.expand
    - navigation.instant
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
    - tags
    - toc.follow
    - typeset
  icon:
    logo: material/cloud
    repo: fontawesome/brands/github
  font:
    text: Noto Sans
    code: Noto Sans Mono
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  # :tyranno: repo_url: ${project.urls.Source}
  repo_url: https://github.com/dmyersturnbull/cicd

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.betterem:
      smart_enable: all
  - codehilite:
      guess_lang: false
  - footnotes
  - md_in_html
  - meta
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.blocks.caption:
      auto_level: 2
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      guess_lang: false
      anchor_linenums: true
      linenums_style: pymdownx-inline
      use_pygments: true
      pygments_lang_class: true
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
      provider: github
      # :tyranno: user: ${.vendor}
      user: dmyersturnbull
      # :tyranno: repo: ${project.name}
      repo: cicd
  - pymdownx.progressbar
  - pymdownx.saneheaders
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - smarty
  - tables
  - toc:
      permalink: true

extra_javascript:
  - js/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - js/tablesort.js

plugins:
  - literate-nav
  - macros:
    render_by_default: false # opt-in, not opt-out
    on_undefined: strict
    on_error_fail: true
  - mike:
      alias_type: redirect
      canonical_version: latest
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      cache_safe: true
  - mkdocstrings:
      handlers:
        python:
          options:
            show_submodules: true
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
  - search:
      separator: '[,;:\s\-]+'
  - table-reader # must be defined after 'macros'

extra:
  version:
    provider: mike
    default: latest

validation:
  absolute_links: relative_to_docs
  anchors: warn
  omitted_files: warn
  unrecognized_links: warn
