# Patterns to omit from charts
# Uses Go's `filepath.Match`, which does NOT support `**` or `!`.
# Does not implicitly ignore `.helmignore` itself.

# Dotted files and directories
.*

# Paths starting or ending in `~`, `$`, or `#` (normally temp files; e.g. `~$doc.docx`, `.profile#`, etc.)
*[~#$]
[~#$]*

# Temp and misc. unwanted files
*[.~]bak
*[.~]out
*[.~]swp
*[.~]temp
*[.~]tmp
*.log
*.pid
Thumbs.db

# Databases
*.sqlite3
*.sqlite3-journal

# Archives
*.7z
*.ear
*.gz
*.jar
*.lz4
*.lzma
*.tar
*.tar.gz
*.tgz
*.war
*.xz
*.zip
*.zst

# Executables and libraries
*.dll
*.dylib
*.exe
*.msi
*.pkg
*.so

# IDEs
*.iml
pch.h

# Python
/build/
/dist/
/sdist/
__pycache__/
__pypackages__/
cython_debug/
*.py[cod]

# Java
/target/
/pom.xml.*
*.class

# C and C++
*.a
*.pch
*.gch
*.ko
*.lib
*.lo
*.o

# Make, CMake, automake, autoconf, pkg-config, etc.
_deps
*.la
*.pc
/cmake_install.cmake
/compile_commands.json
/install_manifest.txt

# JavaScript and TypeScript
node_modules/
tsconfig.tsbuildinfo

# Julia
*.jl.*.cov
*.jl.cov
*.jl.mem
deps/deps.jl

# Documentation
/docs/html/
/docs/_build/
/docs/autoapi/

# Coverage
/coverage.*
/coverage/
/htmlcov/

# IPython
profile_default/
ipython_config.py

# Django
/local_settings.py

# Celery
celerybeat-schedule

# Terraform
override.tf
override.tf.json
*_override.tf
*_override.tf.json
