# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Reusable workflow that runs PyTest for each OS and Python version.
run-name: PyTest ${{ inputs.ref }} (${{ inputs.markers }})

on:
  workflow_call:
    inputs:
      ref:
        type: string
        default: ""
        description: A branch or tag ref; defaults to github.head_ref then to github.ref.
      markers:
        type: string
        default: not (ux or e2e)
      os-list:
        type: string
        default: '["ubuntu-latest", "windows-latest", "macos-latest"]'
        description: A JSON array of runner names.
      python-list:
        type: string
        # ::tyranno:: default: '$<<~."python-versions".test|json(@)>>
        default: '["3.14"]'
        description: A JSON array of Python minor or patch versions (as strings).
      retention-days:
        type: number
        default: 0
        description: >-
          If > 0, uploads coverage reports 'coverage-<ref>-<os>-<python>',
          using this retention time.
      fail-fast:
        type: boolean
        default: true
        description: >-
          Fail this workflow immediately when any test on any OS and Python version fails.
          Applies 'fast-fail' to the strategy, and runs pytest with '--exitfirst'.
          Recommended when only confirming that tests pass,
          such as immediately before publishing or reporting coverage.
      max-parallel:
        type: number
        default: 1
        description: Increase when testing important branches; leave at 1 for PRs.
      cancel-in-progress:
        type: boolean
        description: >-
          Cancel already-running runs for the same ref.
          Enable for ad-hoc checks, but keep disabled otherwise.
          This is important if 'ref' is an "abbreviated ref" rather than a hash.

concurrency:
  group: _run-pytest / ${{ inputs.ref || github.head_ref || github.ref }}
  cancel-in-progress: ${{ inputs.cancel-in-progress }}

env:
  REF: ${{ inputs.ref || github.head_ref || github.ref }}

jobs:
  run-tests:
    name: Test ${{ env.REF }}
    strategy:
      fail-fast: ${{ inputs.fail-fast }} # Doesn't affect the status of the `run-tests` job.
      max-parallel: ${{ inputs.max-parallel }}
      matrix:
        os: ${{ fromJSON(inputs.os-list) }}
        python: ${{ fromJSON(inputs.python-list) }}
    uses: ./.github/workflows/_test-pytest-single.yaml
    with:
      ref: ${{ env.REF }}
      os: ${{ matrix.os }}
      python: ${{ matrix.python }}
      retention-days: ${{ inputs.retention-days }}
      markers: ${{ inputs.markers }}
      fail-fast: ${{ inputs.fail-fast }}
