# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Tests building images on Ubuntu and Windows.
run-name: Test ${{ inputs.ref }} Docker

on:
  workflow_call:
    inputs:
      ref:
        type: string
        default: ""
        description: A branch or tag ref; defaults to github.head_ref then to github.ref.
      os-list:
        type: string
        default: '["ubuntu-latest", "windows-latest]"'
        description: >-
          A JSON array of runner names.
          Note that macOS is excluded from the default.

jobs:
  build-images:
    name: Test building image on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref || github.head_ref || github.ref }}
      - uses: astral-sh/setup-uv@v7
      - run: |
          shell: bash
          docker build .
