# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Reusable workflow that sends code coverage reports to Coveralls.
# Requires `dist-` artifacts and the secret `COVERALLS_TOKEN`.
run-name: Send ${{ inputs.ref_name || github.ref_name }} Coveralls report

on:
  workflow_call:
    inputs:
      ref_name:
        type: string
        default: ""
        description: The name of the branch or tag; defaults to github.ref_name.

env:
  REF_NAME: ${{ inputs.ref_name || github.ref_name }}

concurrency:
  group: _update-coveralls / ${{ inputs.ref_name || github.ref_name }}
  cancel-in-progress: true

jobs:
  send:
    name: Send reports to Coveralls
    runs-on: ${{ matrix.os }}
    strategy:
      # Use a matrix to send OS-specific and Python-version-specific coverage data.
      matrix:
        # TODO
        os:
          - ubuntu-latest
        python:
          # ::tyranno start:: $<<~."python-versions".test|yaml(@)>>
          - "3.14"
          # ::tyranno end::
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}
      ARTIFACT_NAME: coverage-${{ env.REF_NAME }}-${{ matrix.os }}-${{ matrix.python }}
    steps:
      - name: Download workflow artifact ${{ env.ARTIFACT_NAME }}
        uses: actions/download-artifact@v6
        with:
          name: ${{ env.ARTIFACT_NAME }}
      - name: Send coverage report ${{ env.ARTIFACT_NAME }} to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          flag-name: run-${{ env.OS }}-py${{ env.PYTHON }}
          parallel: true

  finish:
    needs: send
    name: Tell Coveralls the reports were all sent
    runs-on: ubuntu-latest
    steps:
      - uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
