# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# Reusable workflow that sends code coverage reports to Codecov.
# Requires `dist-` artifacts and the secret `CODECOV_TOKEN`.
run-name: Send ${{ inputs.ref_name }} CodeCov report

on:
  workflow_call:
    inputs:
      ref_name:
        type: string
        default: ""
        description: The name of the branch or tag; defaults to github.ref_name.

concurrency:
  group: _update-codecov / ${{ inputs.ref_name || github.ref_name }}
  cancel-in-progress: true

env:
  REF_NAME: ${{ inputs.ref_name || github.ref_name }}

jobs:
  #
  send:
    name: Send reports to codecov
    continue-on-error: true
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # TODO
        os:
          - ubuntu-latest
        python:
          # ::tyranno start:: $<<~."python-versions".test|yaml(@)>>
          - "3.13"
          # ::tyranno end::
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}
      ARTIFACT_NAME: coverage-${{ env.REF_NAME }}-${{ matrix.os }}-${{ matrix.python }}
    steps:
      - name: Download workflow artifact ${{ env.ARTIFACT_NAME }}
        uses: actions/download-artifact@v5
        with:
          name: ${{ env.ARTIFACT_NAME }}
      - name: Upload coverage report ${{ env.ARTIFACT_NAME }} to Codecov
        uses: codecov/codecov-action@v5
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          files: ./.coverage.json
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
